.header{

    border-bottom: 1px solid $color-bottom;
    

    &__section{
        display:flex;

            @media screen and (min-width:$desctop){
                margin-left: 93px;
                align-items: baseline;}
    }
        
   
    }


    .nav{
        display: flex;
        align-items: center;
        
    &__list_margin{

            @media screen and (min-width:$tablet){
                margin-left: 88px;
            }

              @media screen and (min-width:$desctop){
                margin-left: 93px;
    }
            }
              &__list-item--contacts{

                     margin-bottom: 10px;
                &:last-child{
                    margin-bottom: 0;
                }

            @media screen and (min-width:$desctop){
                margin-right: 30px;
                margin-bottom: 0;
                &:last-child{
                    margin-right: 0;
                }
    
            }
        }

    &__list-item{
            margin-right: 50px;
            
        }

    &__list-item:last-child{
        margin-right: 0;
        }

    &__list-link:hover,
    &__list-link:focus,
    &__list-link:hover::after,
    &__list-link:focus::after{ 
        color:$accent-color;
        }

    &__list-contacts{
        
        display: block;
        align-items: center;
        margin-left: auto;
        padding-top: 21px;
        padding-bottom: 21px;

        @media screen and (min-width:$desctop){
                display: flex;
            }

        }

    &__list-item:last-child{
        @media screen and (min-width:$desctop){
        margin-right: 0;
        }
    }

    &__contacts:hover,
    &__contacts:focus,
    &__icon:focus,
    &__icon:hover{
        color: $accent-color; 
        fill: $accent-color;
        }
    }

    .nav__style{
         @include font(14px, 500, 16px, $ls: 0.02em);
        color: $title-black-color;
        position: relative;
        padding-top: 32px;
        padding-bottom: 32px;
        transition: color $time-function $cubic-bezier;
        }

    .nav__list{
        width: 294px;
        left: 453px;
        top: 32px;
        display: none;

         @media screen and (min-width:$tablet){
                display: flex;
                margin-left: 88px;
            }
    

              @media screen and (min-width:$desctop){
                display: flex;
            }
}
        .nav__contacts{ 
        
        justify-content: center;
        align-items: center;
        @include font(14px, 500, 16px, $ls: 0.02em);
        color: $main-text-color;
        transition: color $time-function $cubic-bezier;
        display: none;

           @media screen and (min-width:$tablet){
                display: block;
} 

            @media screen and (min-width:$desctop){
                display: flex;
} 
        }

    .nav__icon{
        width: 16px;
        height: 16px;
        margin-right: 10px;
        fill: currentColor;
        transition: fill $time-function $cubic-bezier;
        // display: none;
              @media screen and (min-width:$desctop){
            display: block;}

        }