.subscribe{
        display: block;
        
            @media screen and (min-width:$mobile){
                text-align: center;
                margin-top: 60px;
            }

            @media screen and (min-width:$desctop){
                margin-left: 90px;
            }

            &__input:hover,
            &__input:focus{
            border-color: $accent-color;
            outline: none;

        }

}  


    

        .subscribe__input{

        display: flex;
        width: 450px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 16px;
        color: $primary-white-color;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: transparent;
        transition: border-color $time-function $cubic-bezier;
        }
    
        .button-submit__icon{

        display: flex;
        position: absolute;
        align-items: center;
    }
    
        .button-submit__input-icon{
            display: block;
            margin-left: 10px;
            width: 24px;
            height: 24px;
        }
    
        .button-submit{


            @media screen and (min-width:$mobile){
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                margin-top: 20px;
                width: 200px;
                height: 50px;
            }
         

        }

        .subscribe__container{

        //     @media screen and (min-width:$desctop){
        //             text-align: center;
        //     }
        

        //     @media screen and (min-width:$desctop){
        //         display: flex;
        //   }
          }