.subscribe{
       text-align: center;
        margin-top: 60px;

         @media screen and (min-width:$desktop){ 
               margin-top: 0;
               text-align: start;
               margin-left: 93px;
            }

            &__input:hover,
            &__input:focus{
                border-color: $accent-color;
                outline: none;
            }       
}

    .subscribe__container{
            @media screen and (min-width:$tablet){
               display: block;
            }

         @media screen and (min-width:$desktop){
                display: flex;
                justify-content: flex-end;
                
            }
    }

        .subscribe__input{
        display: flex;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 16px;
        color: $primary-white-color;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-sizing: border-box;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: transparent;
        transition: border-color $time-function $cubic-bezier;
        

        @media screen and (min-width:$tablet){
               
               
               
        @media screen and (min-width:$desktop){
                width: 358px;
                justify-content: center;
                margin-right: 0;
            }
        }
 }
        .button-submit__icon{

            display: flex;
            position: absolute;
            align-items: center;
        }
    
        .button-submit__input-icon{
            display: block;
            margin-left: 10px;
            width: 24px;
            height: 24px;
        }
    
        .button-submit{
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
            width: 200px;
            height: 50px;

             @media screen and (min-width:$tablet){
                text-align: center;
                margin-left: 291px;
                margin-right: 277px;
                margin-top: 20px;}

                   @media screen and (min-width:$desktop){
                    margin-left: 12px;
                    margin-right: 0;
                    margin-top: 0;

              
            }
        }