.command{
    padding-bottom: 60px;
    background-color: $background-card-color;
    
    
        &__card-title{
            @include font(16px, 500, 19px);
            margin-top: 0;
            margin-bottom: 10px;  
            color: $logo-black-color;
            text-align: center;
        }

        &__card-text{
            @include font(16px, 400, 19px);
            margin-top: 0;
            text-align: center;
        }

        &__social-list{
            display: flex;
            justify-content: space-between;
            margin-top: 16px;
        }
}
.command__card{
            display: block;
            margin-top: 30px;
            text-align: center;
            padding-left: 40px;
            padding-right: 40px;
            padding-bottom: 20px;
        

            @media screen and (min-width:$mobile){
                padding-left: 122px;
                padding-right: 122px;
                padding-bottom: 24px;
            }

            @media screen and (min-width:$tablet){
                padding-left: 74px;
                padding-right: 74px;
                padding-bottom: 24px;
            }

            
        @media screen and (min-width:$desktop){
                padding-bottom: 30px;
                padding-left: 32px;
                padding-right: 32px;

        }

    }

    .command__title{
        @include font(28px, 700, 33px);
        text-align: center;
        margin-bottom: 30px;
        padding-top: 60px;
        color: $title-black-color;
    }

    @media screen and (min-width:$desktop){
        .command__title{
            @include font(36px, 700, 42px);
            margin-bottom: 50px;
            padding-top: 0;
        }
    }
    .command__list{

        @media screen and (min-width:280px){
                display:block;
            }

        @media screen and (min-width:$tablet){
            display:flex;
            flex-wrap: wrap;
            margin-left: -30px;
            margin-top: -30px;
            }

            &-item{
                margin-bottom: 30px;
                 &:last-child{
                    margin-bottom: 0;
            }
                @media screen and (min-width:$tablet){
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 0;
                    margin-left: 30px;
                    margin-top: 30px;   
                    flex-basis: calc((100% - 60px) / 2);
                }

                 @media screen and (min-width:$desktop){
                    flex-basis: calc((100% - 120px) / 4);
                }

                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
                border-radius: 0px 0px 4px 4px;
        }

    }



