.mobile-menu{
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity $time-function $cubic-bezier;
    overflow-x: scroll;

    &.is-open{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
            }

    @media screen and (min-width:$tablet) {
        display: none;
    }

        &__close:hover &__icon,
        &__icon:hover,
        &__close:focus &__icon{
            fill: #2196F3;
}

    &__container{
                position: relative;
                padding-top: 48px;
                padding-bottom: 48px;
            }

    

}

     .mobile-menu__close{
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        padding: 0;
        top: 10px;
        right: 0;
        width: 40px;
        height: 40px;
        background: $primary-white-color;
        border: transparent;
        box-sizing: border-box;
        transition: $time-function $cubic-bezier;
}

.mobile-menu__icon{
    width: 19px;
    height: 19px;
    transition: fill $time-function $cubic-bezier;
}

.mobile-menu__item{
        display:block;
        margin-bottom: 32px;
        &:last-child{
            margin-bottom: 0;
        }
      




    .mobile-nav__style{

        @include font(40px, 500, 47px, $ls: 0.02em);
        color: $title-black-color;
        position: relative;

       }
}

  .active{
              color: $accent-color; 
      
    }










