    $main-text-color: #757575;
    $primary-white-color: #FFFFFF;
    $logo-black-color: #000000;
    $title-black-color: #212121;
    $accent-color: #2196F3;
    $hero-background: #2F303A;
    $collor-rgb-footer: rgba(255, 255, 255, 0.6);
    $background-Button: #188CE8;
    $background-card-color:#F5F4FA;
    $color-bottom:#ECECEC;
    $background-card-portfolio:#EEEEEE;
    $icon-social-color:#AFB1B8;
    $card-set-gap: 30px;
    $cubic-bezier:cubic-bezier(0.4, 0, 0.2, 1);
    $time-function:250ms;
    $color-box-shadow: rgba(0, 0, 0, 0.15);
    $decoration:none; 
    $marginTextTitle:0;
    $borderColoro:rgba(33, 33, 33, 0.2);
    $plaseholder:rgba(117, 117, 117, 0.5);
    $background-cardPotfolio: rgba(33, 150, 243, 0.9);
    

