.clients{
        padding-top: 60px;
        padding-bottom: 60px;

        &{
    @media screen and (min-width:$desctop) {
        padding-top: 94px;
        padding-bottom: 109px;
        }
    }


    &__title{

        text-align: center;
        margin-bottom: 30px;

        @include font(28px, 700, 33px);    
        
        color: $title-black-color;

         @media screen and (min-width:$desctop) {
            @include font(36px, 700, 42px);
            margin-bottom: 50px;}
        }

       

    &__list{
        
       
        
            @media screen and (max-width:319px){
                display: block;
                
            }

             @media screen and (min-width:$mobile){
                display: flex;
                flex-wrap: wrap;
                margin-left: -30px;
                margin-top: -30px;
            }

             @media screen and (min-width:$desctop) {
                flex-wrap: nowrap;
                
            }
    }  

    &__item{

        @media screen and (max-width:479px){
                margin-bottom: 30px;
                
            }

        @media screen and (min-width:$mobile){
        margin-left: 30px;
        margin-top: 30px;
        flex-basis: calc((100% - 2*30px) / 2);}
    

        @media screen and (min-width:$tablet) {
            margin-left: 30px;
             margin-top: 30px;
            flex-basis: calc((100% - 3*30px) / 3);
        }

        @media screen and (min-width:$desctop) {
            margin-left: 30px;
            margin-top: 30px;
            flex-basis: calc((100% - 4*30px) / 5); }
        }
            
    }