.clients__icon{
        fill: $icon-social-color;
        transition: fill $time-function $cubic-bezier;
    


&-link{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 92px;
        border: 1px solid $icon-social-color;
        box-sizing: border-box;
        border-radius: 4px;
        transition: border $time-function $cubic-bezier;

        @media screen and (min-width:$desktop){
            width: 172px;
            
        }
     }
     
    &-link:hover,
    &-link:focus{
        border: 1px solid $accent-color;
    }

    &-link:hover &,
    &-link:focus &{
        fill: $accent-color;
        
    }
    }